debian/files
debian/spamserver.debhelper.log
debian/spamserver.postinst.debhelper
debian/spamserver.postrm.debhelper
debian/spamserver.substvars
debian/spamserver/
src/.deps/
src/.libs/
src/Makefile
src/Makefile.in
src/aclocal.m4
src/autom4te.cache/
src/cfg.lo
src/cfg.o
src/config.guess
src/config.log
src/config.status
src/config.sub
src/configure
src/core.lo
src/core.o
src/depcomp
src/frpcinterface.lo
src/frpcinterface.o
src/install-sh
src/libtool
src/ltmain.sh
src/mailer.lo
src/mailer.o
src/missing
src/server.lo
src/server.o
src/spamserver.la
